<div id='breadcrumbs'>
	<%= breadcrumbs %>
</div>
<h1><%=h video.name %></h1>
<%= ready_video(video) %>

<p class="project_description"><%=h video.description %></p>

<% if authorized? %>
  <%= link_to 'Edit', edit_project_video_path(project, video) %>
<% end %>

<%= link_to 'Back', project_path(project) %>
