<% form_tag :controller => 'facebook', :action => 'save_subdomain' %>
		<fieldset>
				<fieldset>
					<legend>Create your portfolio address</legend>
					<p>Every portfolio has its own unique web address.  This is where you will login and where all
						 of your work will be displayed.  If you wanted your portfolio site to be http://monkey.minimalpixel.net
						 then enter monkey.  <strong>Letters and numbers only - no spaces please.</strong></p>
						<%= label :user, :subdomain, 'Web Address' %><br/>
					http://<%= text_field :user, :subdomain %>.minimalpixel.net<br/>
				</fieldset>
				
				<fieldset>
					<legend>Review &amp; Accept Terms</legend>					
					<h5>Terms &amp; Conditions</h5>
					<p>Please read and review our <%= link_to 'terms of service', terms_path %></p>
					<%= label :user, :terms_and_conditions, "I have read and agree to the terms and conditions" %>
					<%= check_box :user, :terms_and_conditions %>
				</fieldset>
				
				<input class='button' type='image' src='/images/sign_up.png' alt='Form Submit Button'>
	</fieldset>
<% end %>
