<h1>Listing pages</h1>

<table>
  <tr>
  </tr>

<% @pages.each do |page| %>
  <tr>
		<td><%= page.title %></td>
    <td><%= link_to 'Show', page %></td>
    <td><%= link_to 'Edit', edit_page_path(page) %></td>
    <td><%= link_to 'Destroy', page, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<% if logged_in? && current_subdomain_user == current_user %>
	<div class="get_started">
		<p>Pages are a great way of adding extra content to your portfolio.  Write about your influences, any upcoming projects or just use them as a resume.  Why not <%= link_to 'create', new_page_path %> one right now.</p>
	</div>
<% end -%>

<%= link_to 'New page', new_page_path %>