<fieldset class='new_style'><div id="accordion">
	<h3><a>Colour</a></h3>
	<div>
		<p class='style_desc'>Select a colour scheme for your portfolio</p>
		<label for="style_heading_colour">Colour</label>
		<%= f.text_field :heading_colour, :class => 'iColorPicker' %>
	</div>
	
	<h3><a>Theme</a></h3>
	<div>
		<p class='style_desc'>Select a theme for your portfolio</p>
		<ul class="style_form">
			<% @themes.each do |theme| %>
				<li>
					<label for="style_theme_id_<%= theme.id %>"><%= theme.name.titlecase %>:</label>
					<%= f.radio_button :theme_id, theme.id %>
				</li>
			<% end %>
			</ul>
	</div>
	
	<h3><a>Borders</a></h3>
	<div>
		<p class='style_desc'>Choose the kind of border you would like to see around your images</p>
		<label for="style_border_type_thin">Thin:</label>
		<%= f.radio_button :border_type, "thin" %>

		<label for="style_border_type_polaroid">Polaroid:</label>
		<%= f.radio_button :border_type, "polaroid" %>

		<label for="style_border_type_fat">Fat:</label>
		<%= f.radio_button :border_type, "fat" %>
		
		<%= image_tag 'pig.png', :class => 'image' %>
	</div>
	
	<h3><a>Heading Font</a></h3>
	<div>
		<p class='style_desc'>Choose the font that will be used for all headings in your portfolio</p>
		<%= f.select(:font_id, @fonts.collect {|font| [font.name, font.id]}) %>
	</div>
</div></fieldset>