<fieldset class='new_style'>
	<legend>Your portfolio styles</legend>

	<fieldset>
		<legend>Colors</legend>
		<p class='style_desc'>Select a colour scheme for your portfolio</p>
		<label for="style_heading_colour">Colour</label><br/>
		<%= f.text_field :heading_colour, :class => 'iColorPicker' %>
		<%= javascript_include_tag 'iColorPicker' %>
	</fieldset>
	
	<fieldset>
		<legend>Theme</legend>
		<p class='style_desc'>Select a theme for your portfolio</p>
		<ul class="style_form">
			<% @themes.each do |theme| %>
				<li>
					<label for="style_theme_id_<%= theme.id %>"><%= theme.name.titlecase %>:</label>
					<%= f.radio_button :theme_id, theme.id %>
				</li>
			<% end %>
			</ul>
	</fieldset>
	
	<fieldset>
		<legend>Image Borders</legend>
		<p class='style_desc'>Choose the kind of border you would like to see around your images</p>
		<label for="style_border_type_thin">Thin:</label>
		<%= f.radio_button :border_type, "thin" %>

		<label for="style_border_type_polaroid">Polaroid:</label>
		<%= f.radio_button :border_type, "polaroid" %>

		<label for="style_border_type_fat">Fat:</label>
		<%= f.radio_button :border_type, "fat" %>
		
		<%= image_tag 'pig.png', :class => 'image' %>
	</fieldset>
	
	<fieldset>
		<legend>Font</legend>
		<p class='style_desc'>Choose the font that will be used for all headings in your portfolio, see the preview below</p>
		<%= f.select(:font_id, @fonts.collect {|font| [font.name, font.id]}) %>
		<h4>The quick brown fox jumped over the lazy dog</h4>
	</fieldset>
</fieldset>