<fieldset>
	<legend>Style Details</legend>
	
	<fieldset>
		<legend>Colour</legend>
		<label for="style_heading_colour">Colour</label>
		<%= f.text_field :heading_colour, :class => 'iColorPicker' %><br/>
	</fieldset>
	
	<fieldset>
		<legend>Theme</legend>
		<% @themes.each do |theme| %>
			<label for="style_theme_id_<%= theme.id %>"><%= theme.name %></label>
			<%= f.radio_button :theme_id, theme.id %><br/>
		<% end %>
	</fieldset>
	
	<fieldset>
		<legend>Image Borders</legend>
		<label for="style_border_type_thin">Thin</label>
		<%= f.radio_button :border_type, "thin" %><br/>
		
		<label for="style_border_type_polaroid">Polaroid</label>
		<%= f.radio_button :border_type, "polaroid" %><br/>
		
		<label for="style_border_type_fat">Fat</label>
		<%= f.radio_button :border_type, "fat" %><br/>
	</fieldset>
	
	<fieldset id="font_fieldset">
		<legend>Font</legend>
		<% @fonts.each do |font| %>
			<%= f.radio_button :font_id, font.id %>
			<label id="<%= font.font.url %>" for="style_font_id_<%= font.id %>" class="font_label"><%= font.name %></label><br/>
		<% end %>
	</fieldset>
</fieldset>