<h1>Projects</h1>

<% unless @projects.empty? %>
	<% for project in @projects %>
		<div class="project_image" style="background-image: url(<%= project.items.first.display_long %>); height:50px; width:600px">
		<div class="project_title"><h2 class="project"><%= link_to project.name, project %></h2></div>
		</div>
	<% end %>
<% else %>
	<% if logged_in? && current_subdomain_user == current_user %>
		<div class="get_started">
			<p>Get started with your portfolio by <%= link_to 'adding', new_draft_project_path, :class => 'help_link' %> a new project.</p>
			
			<p>You can <%= link_to 'customize', edit_style_path(current_subdomain_user.style) %> the look and style of your portfolio.</p>
			
			<p>Start <%= link_to 'adding', edit_profile_path(current_subdomain_user.profile) %> contact information and a profile picture to personalize your portfolio.</p>
		</div>
	<% end -%>
<% end -%>

<%= will_paginate @projects %>

<br />