<h1>Projects</h1>

<table>
  <tr>
  </tr>

<% for project in @projects %>
  <tr>
	<td><%= project.name %></td>
    <td><%= link_to 'Show', project_path(project, :subdomain => current_subdomain_user.subdomain) %></td>
    <td><%= link_to 'Edit', edit_project_path(project, :subdomain => current_subdomain_user.subdomain) %></td>
    <td><%= link_to 'Destroy', project_path(project, :subdomain => current_subdomain_user.subdomain, :confirm => 'Are you sure?', :method => :delete) %></td>
  </tr>
<% end %>
</table>

<br />

<% if logged_in? %>
	<%= link_to 'New projects', new_draft_project_path, :subdomain => current_subdomain_user.subdomain %>
	<%= link_to 'Draft Projects', draft_projects_path, :subdomain => current_subdomain_user.subdomain %>
<% end -%>