<%= title(@project.name + " - " + current_subdomain_user.name + " - MinimalPixel") %>
<%= meta_description(@project.description) %>


<div id="item_index">
	<h2><%=h @project.name %></h2>
	<% if logged_in? %>
	  <p class="project_status"><%= @project.status.titlecase %></p>
	<% end %>
	<ul class="items">
		<% unless @items.empty? %>
			<% for item in @items %>
				<li><%= link_to(image_tag(item.display_thumbnail, :title => item.description), project_item_path(@project, item), :class => 'carousel')  %></li>
			<% end -%>
		<% end %>
	</ul>
</div>

<% unless @items.empty? %>
	<div id="item_view">
		<%= render_item(@items.first, @project) %>
	</div>
<% else %>
	<% if logged_in? %>
		<div class="get_started">
			<p>Get started with your project by adding images and videos</p>
			<p><%= link_to 'Add an Image', new_project_image_path(@project) %>
			<%= link_to 'Add a Video', new_project_video_path(@project) %></p>
		</div>
	<% end -%>
<% end -%>