<%= title("Simply the Easiest way to Create your Online Portfolio - MinimalPixel") %>

<h1>Just look what you could do with a MinimalPixel portfolio:</h1>

<div class="feature_carousel">
	<ul>
		<li class="feature">
			<%= flv_player({:file => '/videos/edit_styles.flv', :autostart => true, :showicons => false, :showdigits => false }, {:id => 'video_1', :name => 'video_1'})%>
			<a href="#"><%= image_tag 'play_button.png', :class => 'show_video_1' %></a>
			<div>
				<div class="feature_description">
					<h2>Fully customize the look and design of your portfolio</h2>
					<p>No coding or technical know-how is needed to really make your portfolio yours with our simple customization tools.  See how in this video tutorial.</p>
				</div>
				<p class="carousel_buttons">
					<%= image_tag '/images/previous.png', :class => 'prev' %>
					<%= image_tag '/images/next.png', :class => 'next' %>
				</p>
			</div>
		</li>
		<li class="feature">
			<%= flv_player({:file => '/videos/upload_tools_v1.flv', :autostart => true, :showicons => false, :showdigits => false}, {:id => 'video_2'} )%>
			<a href="#"><%= image_tag 'play_button.png', :class => 'show_video_2' %></a>
			<div>
				<div class="feature_description">
					<h2>Easily manage your portfolio with intuitive uploading tools.</h2>
					<p>Quickly get all your images and videos up on your portfolio site with our simple uploading tools.</p>
				</div>
				<p class="carousel_buttons">
					<%= image_tag '/images/previous.png', :class => 'prev' %>
					<%= image_tag '/images/next.png', :class => 'next' %>
				</p>
			</div>
		</li>
		<li class="feature">
			<%= flv_player({:file => '/videos/signup.flv', :autostart => true, :showicons => false, :showdigits => false}, {:id => 'video_3'} )%>
			<a href="#"><%= image_tag 'play_button.png', :class => 'show_video_3' %></a>
			<div class="feature_description">
				<h2>Get up and running in less than 60 seconds.</h2>
				<p>Simply choose an web address for your portfolio and </p>
			</div>
			<p class="carousel_buttons">
				<%= image_tag '/images/previous.png', :class => 'prev' %>
				<%= link_to image_tag('sign_up.png'), signup_path %>
			</p>
		</li>
	</ul>
</div>
