<h1>Organise Project Items</h1>

<p>Drag the name of the project item to change the order in which they appear when viewing the project.</p>

<table id="sortable_items">
<tbody id="items">
  <% for item in @items %>
    <tr id="item-<%= item.id %>">
	  <td><%= image_tag item.display_thumbnail %></td>
	  <td><%= item.name %></td>
    <td><%= link_to 'Show', project_item_path(@project, item) %></td>
    <td><%= link_to 'Destroy', project_item_path(@project, item), :confirm => 'Are you sure?', :method => :delete %></td>
    </tr>
  <% end %>
</tbody>
</table>

