<fieldset class='new_style'>
	<legend>Plan Details</legend>
	<label for="plan_name">Name</label>
	<%= f.text_field :name %><br/>
	
	<label for="plan_description">Description</label>
	<%= f.text_area :description %><br/>
	
	<label for="plan_project_limit">Project Limit</label>
	<%= f.text_field :project_limit %><br/>
	
	<label for="plan_image_limit">Image Limit</label>
	<%= f.text_field :image_limit %><br/>
	
	<label for="plan_video_limit">Video Limit</label>
	<%= f.text_field :video_limit %><br/>
	
	<label for="plan_price">Price</label>
	$<%= f.text_field :price %><br/>
	
	<label for="plan_price">Available</label>
	<%= f.check_box :available %><br/>
	
	<label for="plan_price">Facebook Default</label>
	<%= f.check_box :facebook_default %><br/>
	
	<label for="profile_date_of_birth">Payment Frequency</label>
	<select name='plan[payment_frequency]'><%= options_for_select %w(Day Week Month Year) %></select><br/>
</fieldset>