<div id='breadcrumbs'>
	<%= breadcrumbs %>
</div>
<h1><%=h image.name %></h1>
<%= ready_image(image) %>
<p class="project_description"><%=h image.description %></p>

<% if logged_in? && image.ready? %>
  <%= link_to 'Edit', edit_project_image_path(project, image) %>
<% end %>

<%= link_to project.name, project_path(project) %>
