<h1>Listing fonts</h1>

<table>
  <tr>
  </tr>

<% @fonts.each do |font| %>
  <tr>
		<td><%= link_to font.name, font %></td>
    <td><%= link_to 'Show', font %></td>
    <td><%= link_to 'Edit', edit_font_path(font) %></td>
    <td><%= link_to 'Destroy', font, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New font', new_font_path %>