<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en">
	<head>
		<title><%= @page_title || APP_CONFIG[:site_name] %></title>
		<meta http-equiv="content-type" content="text/xhtml; charset=utf-8" />
		<meta http-equiv="imagetoolbar" content="no" />
		<meta name="distribution" content="all" />
		<meta name="robots" content="all" />	
		<meta name="resource-type" content="document" />
		<meta name="MSSmartTagsPreventParsing" content="true" />
		<%= stylesheet_link_tag 'base', 'layout', 'common', 'superfish-vertical', 'ui.all', 'basic' %>
		<%= javascript_include_tag 'jquery', 'iColorPicker', 'jquery.sifr.min' ,'jquery.media', '1jquery.flash', 'jquery.color', 'jquery.dwFadingLinks', 'superfish', 'jquery.carousel_lite', 'ufo', 'jquery.delay', 'jquery.validateLive', 'jquery.tableDnD', 'jquery-ui-1.6.custom.min', 'jquery.simplemodal', 'application' %>
		
		<!-- adding the generated stylesheets, this should probably be put into a helper -->
		<%= user_stylesheet %>
		<%= user_font %>
	</head>
	<body>
		<div id="container">
			<div id="header">
					<%= display_brand_tag(current_subdomain_user.style) %>
				<% if current_subdomain %>
					<h1><%= link_to current_subdomain_user.name, projects_root_url(:subdomain => current_subdomain_user.subdomain) %></h1>
				<% end %>
			</div>
			<div id="content">
				<%= flash_messages %>
				<%= yield :layout %>
			</div>
			<div id="sub_section">
				<div id="profile">
					<%= render :partial => 'profiles/profile' %>
				</div>
				<div id="pages">
					<% current_subdomain_user.pages.each do |page| %>
						<ul>
							<li><%= link_to page.title, page_path(page) unless page.id.nil? %></li>
						</ul>
					<% end %>
				</div>
				<%= render :partial => 'layouts/menu' %>
			</div>
			<div id="footer">
				Footer
			</div>
		</div>
	</body>
</html>