<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en">
	<head>
		<title><%= @page_title || APP_CONFIG[:site_name] %></title>
		<meta http-equiv="content-type" content="text/xhtml; charset=utf-8" />
		<meta http-equiv="imagetoolbar" content="no" />
		<meta name="distribution" content="all" />
		<meta name="robots" content="all" />	
		<meta name="resource-type" content="document" />
		<meta name="MSSmartTagsPreventParsing" content="true" />
 		
		<%= stylesheet_link_merged :promo %>
		<%= javascript_include_merged :promo %>
		
		<!--[if IE]>
			<link rel="stylesheet" type="text/css" href="stylesheets/iehacks.css" />
	  <![endif]-->
		
	</head>
	<body>
		<div id="container">
			<div id="header">
				<%= image_tag '/images/logo.png', :class => 'logo' %>
				<h1 class="site">Minimal<br/>Pixel</h1>
				<p><strong>Simply</strong> the <strong>easiest</strong> way to create your online <strong>portfolio</strong>.</p>
			</div>
			<div id="menu">
				<ul id='tabs'>
					<%= tab(root_path(:subdomain => false), :welcome, :name => 'Welcome') %>
					<%= tab(questions_path(:subdomain => false), :questions, :name => 'Help') %>
					<%= tab(new_feedback_path(:subdomain => false), :feedback, :name => 'Contact Us') %>
					<%= tab(blog_root_path, :articles, :name => 'Blog') %>
				</ul>
			</div>
			<div id="content">
				<%= flash_messages %>
				<%= yield :layout %>
			</div>
			<div id="sub_section">
				<div id="signup">
					<h2>Get your own free portfolio now!</h2>
					<%= link_to image_tag('sign_up.png'), signup_path %>
				</div>
				
				<div id="demo">
					<h2>Take a test drive</h2>
					<%= render :partial => 'layouts/demo' %>
				</div>
				
				<div id="login">
					<%= render :partial => 'layouts/login' %>
				</div>
			</div>
			<div id="footer">
				Footer
			</div>
		</div>
	<%= render :partial => 'layouts/analytics_tracker' %>
	</body>
</html>